.box {
  position: relative;
  width: 42rem;
  max-width: 42rem;
  border-radius: 0.9rem;
  overflow: auto;
  background-color: var(--color-background-500);
  box-shadow: 0 0 0.5rem var(--color-background-100),
    0 0 1rem var(--color-background-500);
}

.btn-toggle {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  height: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-background-900);
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
  opacity: 0.4;
  transition: all 0.3s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-toggle:hover {
  opacity: 1;
  background-color: var(--color-primary);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 435px) {
  .box {
    width: 100%;
    height: 46rem;
  }
}
