.box {
  position: relative;
  width: 42rem;
  max-width: 42rem;
  border-radius: 0.9rem;
  overflow: auto;
  background-color: var(--color-background-500);
  box-shadow: 0 0 0.5rem var(--color-background-100),
    0 0 1rem var(--color-background-500);
}

@media (max-width: 435px) {
  .box {
    width: 100%;
    height: 46rem;
  }
}
