.error {
  text-align: center;
  font-size: 2rem;
  width: 80%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  font-weight: 600;
  color: var(--color-primary);
  text-shadow: 2px 2px 2px var(--color-background-900);
}

@media (max-width: 435px) {
  .error {
    font-size: 1.5rem;
    transform: translate(-50%, -60%);
    top: 60%;
  }
}
