.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo span {
  font-size: 3.2rem;
}

.logo h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
}

.logo h1 span {
  font-size: inherit;
  color: var(--color-background-900);
}

@media (max-width: 435px) {
  .logo h1 {
    display: none;
  }
}
