.list {
  list-style: none;
  padding: 0.8rem 0;
  overflow: auto;
}

.list-watched {
  height: calc(100% - 9rem);
}

.list li {
  position: relative;
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: auto auto;
  column-gap: 2.4rem;
  font-size: 1.6rem;
  align-items: center;

  padding: 1.6rem 3.2rem;
  border-bottom: 1px solid var(--color-background-100);
}

.list.list-movies li {
  cursor: pointer;
  transition: all 0.3s;
}

.list.list-movies li:hover {
  background-color: var(--color-background-100);
}

.list img {
  width: 100%;
  grid-row: 1 / -1;
}

.list h3 {
  font-size: 1.8rem;
}

.list div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.list p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

@media (max-width: 435px) {
  .list li {
    grid-template-columns: 6rem 1fr;
    column-gap: 2.4rem;
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
  .list h3 {
    font-size: 1.6rem;
  }
}

.btn-clear {
  margin-right: 0.8rem;
  float: right;
  width: 10rem;
  height: 3.2rem;
  aspect-ratio: 1;
  border-radius: 9999px;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--color-background-500);
  background-color: var(--color-primary-light);
  box-shadow: 2px 2px 3px 1px var(--color-background-900);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: sans-serif; */
  /* font-size: 2rem; */
  /* z-index: 999; */
}
