.btn-delete {
  position: absolute;
  right: 2.4rem;

  height: 1.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-red);
  color: var(--color-background-900);
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-delete:hover {
  color: var(--color-text);
  background-color: var(--color-red-dark);
  box-shadow: 0 0 3px var(--color-background-900);
}

@media (max-width: 435px) {
  .btn-delete {
    top: 2.4rem;
    right: 1.6rem;
  }
}
