.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 7rem;
  padding: 0 3rem;
  background-color: var(--color-primary);
  border-radius: 1rem;
}

@media (max-width: 435px) {
  .nav-bar {
    padding: 0 1rem;
    gap: 2.5rem;
  }
}
