.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 7rem;
  padding: 0 3rem;
  background-color: var(--color-primary);
  border-radius: 1rem;
}

.num-results {
  justify-self: end;
  font-size: 1.8rem;
}
