.search-results {
  justify-self: end;
  font-size: 1.8rem;
}

.search-results strong {
  color: var(--color-background-900);
  text-shadow: 2px 2px 3px var(--color-background-500);
}

@media (max-width: 435px) {
  .search-results {
    font-size: 1.2rem;
  }
}
