/* @import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap"; */
@import "https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap";

:root {
  --color-primary: #08c6ab;
  --color-primary-light: #10ad95;
  --color-text: #d8f3dc;
  --color-text-dark: #bee9e8;
  --color-background-100: #2d6a4f;
  --color-background-500: #1b4332;
  --color-background-900: #081c15;
  --color-red: #fa5252;
  --color-red-dark: #e03131;
  /* --color-primary: #6741d9;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #fa5252;
  --color-red-dark: #e03131; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Fira Code", "Manrope", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  color: var(--color-text);
  background-color: var(--color-background-900);
  padding: 2.5rem 4rem;
}

/* .loader {
  margin: 4.8rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
} */

/* .list {
  list-style: none;
  padding: 0.8rem 0;
  overflow: auto;
}

.list-watched {
  height: calc(100% - 9rem);
}

.list li {
  position: relative;
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: auto auto;
  column-gap: 2.4rem;
  font-size: 1.6rem;
  align-items: center;

  padding: 1.6rem 3.2rem;
  border-bottom: 1px solid var(--color-background-100);
}

.list.list-movies li {
  cursor: pointer;
  transition: all 0.3s;
}

.list.list-movies li:hover {
  background-color: var(--color-background-100);
}

.list img {
  width: 100%;
  grid-row: 1 / -1;
}

.list h3 {
  font-size: 1.8rem;
}

.list div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.list p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
} */

/* Summary */

/* .summary {
  padding: 2.2rem 3.2rem 1.8rem 3.2rem;
  border-radius: 0.9rem;
  background-color: var(--color-background-100);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
}

.summary h2 {
  margin-bottom: 1rem;
}

.summary div {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.summary p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
} */

/* Details */

/* .details {
  line-height: 1.4;
  font-size: 1.4rem;
}

.details header {
  display: flex;
}

.details section {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.details img {
  width: 33%;
}

.details-overview {
  width: 100%;
  padding: 2.4rem 3rem;
  background-color: var(--color-background-100);
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.details-overview h2 {
  font-size: 2.4rem;
  margin-bottom: 0.4rem;
  line-height: 1.1;
}

.details-overview p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
} */

/* .btn-add {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  border-radius: 10rem;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-add:hover {
  background-color: var(--color-primary-light);
} */

.text {
  text-align: center;
  width: 80%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--color-primary);
  text-shadow: 2px 2px 2px var(--color-background-900);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  position: absolute;
  z-index: 1000;
  border-radius: 0.9rem;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-background-900);
  box-shadow: inset 0 0 3px var(--color-primary);
  border-radius: 0.9rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-background-100);
}

@media (max-width: 435px) {
  body {
    padding: 2.5rem 2rem;
  }
}
